<app-nav-bar></app-nav-bar>


<section class="containerImg">
    <img src="https://cdn.leonardo.ai/users/e614a0c3-4dd3-41f8-829f-9769d7c2e332/generations/6721a1d8-4d8a-4dbd-9056-e4e057b35eff/Default_Necesito_que_crees_una_imagen_principal_que_ir_ubicado_0.jpg" alt="">
</section>

<section class="conteinerInfo">
<section class="info">
    <section class="textInfo">
        <p> El Colegio XYZ es una institución educativa comprometida con la excelencia académica y la formación integral de sus estudiantes desde el nivel inicial hasta el bachillerato. Nuestra misión es proporcionar un ambiente educativo estimulante que fomente el pensamiento crítico, la creatividad y los valores éticos. Buscamos inspirar a nuestros estudiantes a convertirse en líderes responsables, contribuyendo positivamente a la sociedad. Nuestra visión es ser reconocidos como un referente en educación, destacando por la calidad de nuestros programas y el éxito de nuestros egresados.</p>
    </section>
    <section class="imageInfo">
        <img src="https://i.pinimg.com/564x/51/eb/7f/51eb7f8d59e076f49f960a69e405ea58.jpg" alt="imagen de aulas">
    </section>
</section>

<section class="infoTwo">
    <section class="imageInfoTwo">
        <img src="https://i.pinimg.com/564x/14/cd/7e/14cd7e81358dfa36c1dfbaf1c3e37970.jpg" alt="">
    </section>
    <section class="textInfoTwo">
        <ul>
        <li>Brindar una educación de calidad que promueva el desarrollo integral de cada estudiante.</li>
        <li>Fomentar un ambiente inclusivo y diverso que respete las diferencias y celebre la singularidad de cada individuo.</li>
        <li>Estimular la curiosidad, la creatividad y el pensamiento crítico como herramientas fundamentales para el aprendizaje a lo largo de toda la vida.</li>
        <li>Inculcar valores éticos y morales que guíen el comportamiento y las decisiones de nuestros estudiantes en su vida cotidiana.</li>
        <li>Promover la participación activa de los padres de familia en el proceso educativo de sus hijos.</li>
        </ul>
    </section>
</section>
</section>

<app-footer></app-footer>
