<app-nav-bar></app-nav-bar>


<section class="container">
    <section class="missionAndVision">
        <section class="mission">
            <h2>Misión</h2>
            <img src="https://i.pinimg.com/564x/7d/46/0c/7d460c29773cb5bf1fc35b746dccd662.jpg" alt="Misión">
            <p>Brindar una educación integral de alta calidad, inspirando a nuestros estudiantes a alcanzar su máximo potencial académico, personal y social.</p>
        </section>

        <section class="vision">
            <h2>Visión</h2>
            <img src="https://i.pinimg.com/564x/f2/db/22/f2db2235e7a7c7f5bef0032565d2b3ab.jpg" alt="Visión">
            <p>Ser reconocidos como líderes en la formación educativa, destacando por la excelencia académica, la innovación pedagógica y la contribución significativa de nuestros egresados a la sociedad.</p>
        </section>
    </section>

    <section class="values">
        <h2>Valores</h2>
        <img src="https://i.pinimg.com/564x/4c/29/20/4c29207a2d02166e3dae29274d4bbff4.jpg" alt="values">

        <p>Excelencia: Buscamos la excelencia en todo lo que hacemos, promoviendo estándares elevados en la enseñanza, la conducta y la ética.</p>
        <p>Integridad: Actuamos con honestidad, transparencia y respeto en todas nuestras interacciones.</p>
        <p>Innovación: Fomentamos la creatividad y la innovación, adaptándonos constantemente a las necesidades cambiantes del entorno educativo.</p>
    </section>
</section>

<app-footer></app-footer>

