<section class="background">
    <section class="container">
        <form action="#">
            <h2>Registro Profesor</h2>
            <section class="container-input">
                <section class="name">
                    <input type="text" placeholder="Nombre" required>
                </section>
                <section class="email">
                    <input type="email" placeholder="Email" required>
                </section>
                <section class="password">
                    <input type="password" placeholder="Contraseña" required>
                </section>
                <section class="password">
                    <input type="password" placeholder="Confirmar contraseña" required>
                </section>
                <section class="age">
                    <input type="number" placeholder="Edad" required>
                </section>
                <section class="maritalStatus">
                    <input type="text" placeholder="Estado civil" required>
                </section>
                <section class="citizenshipCard">
                    <input type="number" placeholder="Cedula de ciudadania">
                </section>
            </section>
            <button type="submit">Registrar</button>
        </form>
    </section>
</section>

