<section class="background">
    <section class="container">
        <form action="#">
            <h2>Registro</h2>
            <section class="email">
                <input type="email" placeholder="Ingresa tu Email" required>

            </section>
            <section class="password">
                <input type="password" placeholder="Ingresa tu Contraseña" name="" id="">

            </section>
            <section class="forget">
                <label for="saveLogin">
                    <input type="checkbox" id="saveLogin" />
                    <p>Save login information</p>
                </label>
                <a href="#">Olvidaste tu contraseña?</a>
            </section>
            <button type="submit">Ingresar</button>
            <div class="return">
                <p>No eres estudiante? <a href="/"> Inicio </a></p>
            </div>
        </form>
    </section>
</section>