<section class="background">
    <section class="container">
        <form action="#">
            <h2>Registro Adminitrador</h2>
            <section class="name">
                <input type="text" placeholder="Nombre" required>
            </section>
            <section class="email">
                <input type="email" placeholder="Email" required>
            </section>
            <section class="password">
                <input type="password" placeholder="Contraseña" required>
            </section>
            <section class="password">
                <input type="password" placeholder="Contraseña" required>
            </section>
            <button type="submit">Registrar</button>
        </form>
    </section>
</section>